<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rolenoif">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".Menu.PagMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Menu.PaginaAgro">
        </activity>

        <activity android:name=".Menu.PaginaProvas">
        </activity>

        <activity android:name=".Menu.PaginaCursos">
        </activity>

        <activity android:name=".ConteudoAgro.CarreiraAgro">
        </activity>

        <activity android:name=".ConteudoAgro.MateriasAgro">
        </activity>

        <activity android:name=".ConteudoAgro.DepoimentosAgro">
        </activity>

        <activity android:name=".ConteudoAgro.SeisCoisasAgro">
        </activity>

        <activity android:name=".ConteudoAgro.ConverseAgro">
        </activity>


        <activity android:name=".Menu.Teste_Vocacional">
        </activity>

        <activity android:name=".TesteVocacional.Jogo_TV">
        </activity>

        <activity android:name=".TesteVocacional.Resultado">
        </activity>

        <activity android:name=".TesteVocacional.PagDescricao">
        </activity>

        <activity android:name=".Menu.Tour">
        </activity>

        <activity android:name=".Menu.AgendarVisita">
        </activity>

    </application>

</manifest>